@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* --color-myblue-400: #70d6ff;
  --color-mypink-400: #ff70a6;
  --color-myorange-400: #ff9770;
  --color-myyellow-700: #ffd670;
  --color-myyellow-400: #ecf8a4; */

  --color-myblue-400: #56c4ec;
  --color-mypink-400: #ff5c9a;
  --color-myorange-400: #ff8359;
  --color-myyellow-700: #f5c842;
  --color-myyellow-400: #cde86c;
  --color-blackText-primary: #2c2c2c;

  --color-darkBackground-700: #141414;
  --color-darkBackground-400: #1f1f1f;
  --color-whiteText-primary: #f9f9f9;
  --color-whiteText-accent: #eaeaea;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
