@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* --color-mint-500: oklch(0.72 0.11 178);
  --color-background-100: #e5e7eb;
  --color-background-500: #23155b;
  --color-main-100: #cbd5e1;
  --color-main-300: #7e52f7;
  --color-main-500: #4322c9a3;
  --color-main-700: #2f03ad; */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
